@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

:root {
    background-color: $base-color;
    font-family: 'Signika Negative', sans-serif;
    scroll-behavior: smooth;
}